.topflex-container {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 77px;
}

.logo {
  width: 176px;
  height: 35px
}

.search-bar{
  width: 200px;
  height: 15px;
  border: 1px black grey;
  border-radius: 3px;

}

.app-button{
  width: 100px;
  height: 28px;
  padding: 10px;
  background-color: #3897f0;
  border-radius: 3px;
  color: white;
}

.sign-button {
  width: 100px;
  height: 28px;
  padding: 10px;
  border-radius: 3px;
  color: #3897f0;
}

.log-button {
  width: 100px;
  height: 28px;
  padding: 10px;
  border-radius: 3px;
  color: #3897f0;
}

.midflex-container {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  background-color: #fff;

  height: 275px;
  width: 900px;
}
.mid-object1 {
  justify-content: flex-end;
  height: 200px;
  width: 400px;
  margin-right: 5px;
  padding-left: 100px;
}

.townbiz_logo {
  justify-content: flex-end;
  border-radius: 200%;
  width: 176px;
  height: 35px;
  margin-left: 300px;
}

.radius {
  border-radius: 47%;
}

.mid-object2 {
  /*display: flex;*/
  /*align-content: flex-start;*/
  height: 200px;
  width: 800px;
  padding-left: 0px;
}
/*.follow-button {
  margin: 100px;
}*/

.obtopA {
  /*display:flex;
  align-items: flex-start;*/
  font-family: proxima-nova, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: 54px;
  font-weight: 300px;
  height: 60px;

}

.obtopA button {
  font: 50px;
  width: 100px;
  height: 28px;
  padding: 10px;
  background-color: #3897f0;
  border-radius: 3px;
  color: white;
}

.follow-button {
  margin-left: 20px;
}

.second-section-text{
  font-family: proxima-nova, Helvetica Neue, Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

.obtopB {
  display:flex;
  height: 55px;
}

.obtopC {
  height: 85px;
  font-family: proxima-nova, Helvetica Neue, Arial, Helvetica, sans-serif;
}

.third-section-text {

}
