.topflex-container {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 77px;
}

.logo {
  width: 176px;
  height: 35px
}

.search-bar{
  width: 200px;
  height: 15px;
  border: 1px black grey;
  border-radius: 3px;

}

.app-button{
  width: 100px;
  height: 28px;
  padding: 10px;
  background-color: #3897f0;
  border-radius: 3px;
  color: white;
}

.sign-button {
  width: 100px;
  height: 28px;
  padding: 10px;
  border-radius: 3px;
  color: #3897f0;
}

.log-button {
  width: 100px;
  height: 28px;
  padding: 10px;
  border-radius: 3px;
  color: #3897f0;
}

.midflex-container {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  height: 275px;
  width: 900px;
}

.townbiz_logo {
  justify-content: flex-end;
  border-radius: 200%;
  width: 176px;
  height: 35px;
  margin-left: 300px;
}

.radius {
border-radius: 47%;

}

.mid-object1 {
  justify-content: flex-end;
  height: 200px;
  width: 400px;
  margin-right: 5px;
  padding-left: 100px;
}

.obtopA {
  background-color: red;
  font: proxima-nova, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 300px;

}

.obtopA button {


}
.mid-object2 {
  background-color: orange;
  height: 200px;
  width: 800px;
  padding-left: 0px;
  display: inline;
  }

.mid-obtop2 {
  float:left;
}
